spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          searchLocations:
            - file:/app/config/telemetry/{application}
            - file:/app/config/commerce/{application}

server:
  port: 8888

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true