server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/commerce?currentSchema=shopping_cart
    driverClassName: org.postgresql.Driver
    username: postgres
    password: password
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      initialization-fail-timeout: 60000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: shopping_cart
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

logging:
  level:
    root: INFO
    ru.yandex.practicum.commerce.shoppingcart: DEBUG

resilience4j:
  circuitbreaker:
    instances:
      warehouse:
        failure-rate-threshold: 50
        slow-call-rate-threshold: 50
        slow-call-duration-threshold: 2s
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        minimum-number-of-calls: 5
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10

  timelimiter:
    instances:
      warehouse:
        timeout-duration: 3s

feign:
  circuitbreaker:
    enabled: true