spring:
  application:
    name: warehouse
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce?currentSchema=warehouse
    driverClassName: org.postgresql.Driver
    username: postgres
    password: password
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: warehouse
  config:
    enabled: false

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    enabled: true
  instance:
    prefer-ip-address: true

logging:
  level:
    ru.yandex.practicum.commerce.warehouse: DEBUG