server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/commerce?currentSchema=shopping_store
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      initialization-fail-timeout: 60000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: shopping_store
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: true

logging:
  level:
    ru.yandex.practicum.commerce.shoppingstore: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

eureka:
  instance:
    hostname: localhost
    preferIpAddress: false
    instance-id: shopping-store:${random.value}