server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce?currentSchema=shopping_store
    driverClassName: org.postgresql.Driver
    username: postgres
    password: password
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      initialization-fail-timeout: 60000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: shopping_store
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

logging:
  level:
    ru.yandex.practicum.commerce.shoppingstore: DEBUG