spring:
  application:
    name: warehouse
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce?currentSchema=warehouse
    driverClassName: org.postgresql.Driver
    username: postgres
    password: password
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: warehouse
  cloud:
    discovery:
      enabled: false

server:
  port: 8083

logging:
  level:
    ru.yandex.practicum.commerce.warehouse: DEBUG

spring.cloud.openfeign.client.config:
  shopping-cart:
    url: http://localhost:8081
  shopping-store:
    url: http://localhost:8084