spring:
  application:
    name: shopping-store
  datasource:
    url: jdbc:postgresql://localhost:5433/commerce?currentSchema=shopping_store
    driverClassName: org.postgresql.Driver
    username: postgres
    password: password
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_schema: shopping_store

server:
  port: 8084

logging:
  level:
    ru.yandex.practicum.commerce.shoppingstore: DEBUG