spring:
  application:
    name: shopping-store
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      discovery:
        enabled: false
      fail-fast: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/